/* Responsive Tablet */
@media all and (max-width: 1000px) {
    
}



/* Responsive Smartphone */
@media all and (max-width: 670px) {
    .navbar-right a {
        display: none;
    }

    .navbar-right a.menu-icon {
        display: block;
        font-size: 25px;
    }

    .navbar-right a.menu-icon:hover {
        background-color: rgba(0, 0, 0, 0);
        color: rgba(0, 0, 0, 1);
        box-shadow: none;
    }
}